/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #EDEDE9;
    color: #252323;
}

/* Cabeçalho */
header {
    background-color: #62A8AC; /* Azul escuro combinando com seu VS Code */
    color: #EDEDE9;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Container Principal */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Seções */
section {
    background: #A1D2CE;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1.5rem;
    color: #061f63;
    border-bottom: 2px solid #eee;
    padding-bottom: 0.5rem;
}

h3{
    color: #3046809c;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Formulário */
.input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #555;
}

input, select {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

/* Inputs lado a lado */
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

button#btn-cadastrar {
    width: 100%;
    padding: 1rem;
    background-color: #62A8AC;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

button#btn-cadastrar:hover {
    background-color: #167279;
}

/* Grid de Produtos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
}

/* Card do Produto */
.card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 1rem;
    position: relative;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.card .price {
    color: #246477;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card .details {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 1rem;
}

.btn-delete {
    background-color: #030303;
    color: white;
    border: none;
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn-delete:hover {
    background-color: #241312;
}